@import url(https://fonts.googleapis.com/css?family=Chelsea+Market);

body {
	text-align: center;
	background-image: url(../img/background.00_jpg_srz); 
	background-size: cover; 
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	font-family: 'Chelsea Market',fantasy;
	color: grey;
}

.jumbotron {
	margin-top: 10px;
	background: white;
	border: 2px solid skyblue;
}

.jumbotron h2 {
	margin-top: 0;
	margin-bottom: 30px;
	color: #27A8C7;
}

.jumbotron h3 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #27A8C7;
}

.jumbotron h5 {
	color: purple;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.contactinfo {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	float: center;
}

.formField {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
	background-color: rgba(227, 180, 232, 1);
	border: 0px solid rgba(151, 17, 163, 1);
	color: white;
}

textarea {
	width: 100%;
	background-color: rgba(227, 180, 232, 1);
	border: 0px solid rgba(151, 17, 163, 1);
	color: white;
}

.submitButton {
	float: right;
	color: white;
	background-color: rgba(39, 168, 199, 1);
	max-width: 15%;
}