{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}" >
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

{% bootstrap_javascript %}

<!-- Fixed navbar -->
{% include 'base.html' %}

<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome to the Books and Beyond Membership!</h1>
    <p>This is where members can access our monthly newsletter and book recommendations.</p>
  </div>

</div> <!-- /container -->