<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Books Beyond</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="{% ifequal request.path "/"%} active {% endifequal%}"><a href="{% url "home" %}">Home</a></li>
        <li class="{% ifequal request.path "/about/"%} active {% endifequal%}"><a href="{% url "about" %}">About</a></li>
        <li class="{% ifequal request.path "/newsletter/"%} active {% endifequal%}"><a href="{% url "newsletter" %}">Newsletter</a></li>
        <li class="{% ifequal request.path "/archive/"%} active {% endifequal%}"><a href="{% url "archive" %}">Archive</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{% ifequal request.path "/contact/"%} active {% endifequal%}"><a href="{% url "contact" %}">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Sign In</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>