{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "css/navbar.css" %}" >
<nav class="navbar navbar-default navbar-top">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 5px" href="http://www.booksnbeyondreading.com/"><img src="{% static "img/logo.png" %}" style="display: inline-block; height: 35px; width: 35px;"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.booksnbeyondreading.com/">Books & Beyond E-Magazine</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <!-- <li class="{% ifequal request.path "/"%} active {% endifequal%}"><a href="{% url "home" %}">Home</a></li>
        <li class="{% ifequal request.path "/about/"%} active {% endifequal%}"><a href="{% url "about" %}">About</a></li> -->
        <li class="{% ifequal request.path "/newsletter/"%} active {% endifequal%}"><a href="{% url "newsletter" %}">Current Issue</a></li>
        <li class="{% ifequal request.path "/archive/"%} active {% endifequal%}"><a href="{% url "archive" %}">Archive</a></li>
        <li class="{% ifequal request.path "/bookbearletters/"%} active {% endifequal%}"><a href="{% url "bookbearletters" %}">Send a Letter to Book Bear</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{% ifequal request.path "/contact/"%} active {% endifequal%}"><a href="{% url "contact" %}">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Sign In</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>