{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}" >
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

{% bootstrap_javascript %}

{% include 'base.html' %}

<!-- <h1>Forms</h1>

<form method='POST' action=''>{% csrf_token %}
  {{ form.as_p }}
  <input type='submit' value='Submit' />

</form> -->

<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Contact Information</h1>
    <p>Books and Beyond Reading Club</p>
 
		<p>Room 801, Chinachem Johnston Plaza</p>
		<p>No. 178-186 Johnson Road</p>
		<p>Wanchai, Hong Kong SAR</p>
 
		<p>Point Person: Ms Barbara Kwok</p>
		<p>E-Mail: booksnbeyondreading@gmail.com</p>
		<p>Tel: (852) 9805 4336</p>
  </div>

</div> <!-- /container -->